.main-board {
  width: 80vw;
  height: 600px;
  position: absolute;
  background: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.grid {
  display: inline-block;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.line {
  width: 40px;
  height: 10px;
  background-color: black;
  display: inline-block;
  cursor: pointer;
}

.line.horizontal {
  margin-right: -30px;
  margin-left: -10px;
}

.line.vertical {
  margin-top: -30px;
  margin-bottom: -10px;
}

.line.completed {
  background-color: red;
}

.empty-space {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.current-player {
  margin-top: 20px;
}
