.main-board {
  width: 80vw;
  height: 600px;
  position: absolute;
  /* background: inherit; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.dot-and-con-game {
  text-align: center;
  margin-top: 20px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px); /* Added grid rows */
  gap: 4px;
  margin-top: 10px;
  width: 400px; /* Added width for better visualization */
}

.dot {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dot.connected {
  background-color: green;
  color: white;
}
