.main {
  background-image: url("/src/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.88;
  height: 142vh;
  display: flex;
  justify-content: center;
}

.align-middle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(58, 27, 47,0.9);
  width: 90%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
}

.align-middle > .outer-div {
  flex-grow: 1;
  width: 33%;
  height: 40%;
}

.lnk{
  text-decoration: none;
}

.card {
  width: 80%;
  height: 100%;
  color: aqua;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
}

.main-box {
  width: 80vw;
  height: 600px;
  position: absolute;
  background: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: #ffff;
}