.colored-letter{
    color: brown;
}

.nav-link:hover{
    text-decoration: underline;
}

.navbar{
    height: 8vh;
    background-image:  linear-gradient(120deg, #3A1B2F 0%, #434343 100%);
    background-color: #3A1B2F;
   
}