.main-board {
  width: 80vw;
  height: 600px;
  position: absolute;
  /* background: inherit; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.simon-game {
  text-align: center;
  margin-top: 20px;
  width: 60%;
}

.simon-board {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.simon-color {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.message {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}
